 *{margin:0;padding:0;outline:none}
 body{font-family:verdana}
 .project{width:80%; margin: 0 auto;border:5px solid green;}
.headeroption, .footeroption {
  background: #dddddd none repeat scroll 0 0;
  color: #fff;
  overflow: hidden;
  padding: 11px;
  text-align: center;
}
.headeroption h2, .footeroption h2 {
  color: #5b5b5b;
  font-size: 20px;
  margin: 0;
}.maincontent {
  font-size: 16px;
  min-height: 430px;
}
 .content{background:#fff;padding:15px;overflow:hidden;}
 p{margin:0}
 input[type="text"],input[type="password"]{width:238px;padding:5px;}
input[type="submit"] {
  background: #d4826a none repeat scroll 0 0;
  border: 1px solid #9e4b33;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  padding: 1px 20px;
}
textarea {
  border: 1px solid #ddd;
  height: 50px;
  padding: 5px;
  width: 300px;
}
 .select{font-size:18px;padding:2px 5px;width:250px;}
.tblone {
  border: 1px solid #ddd;
  margin: 20px 0;
  width: 100%;
}
 .tblone td{padding:5px 10px;text-align:center;}
 table.tblone tr:nth-child(2n+1){background:#fff;height:30px;}
 table.tblone tr:nth-child(2n){background:#f1f1f1;height:30px;}
 .error{color:red;}
 .success{color:green;}
.topics {
}
.topics ul{margin:0;padding:0;list-style:none}
.topics ul li{display:block;}
.topics ul li a {
  color: #004500;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
.topics ul li a:hover{color:#008500;}
table{
  margin: 0px auto;
  padding: 20px;
  background: #ddd;
}
#cahrtatus, #userstatus {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#cahrtatus ul{
  margin: 0 auto;
  width: 300px;
  border:1px solid green;
}
#cahrtatus ul li {
  background: #e0fcf0;
  margin: 2px;
  width:100%;
  text-align: center;
}
.content_heading {
  margin-bottom: 10px;
}
.success{
  color: green;
}